.bg-banner{
    
    width: 1280px;
    height: 60px;
    max-width: 100%;
}


.navbar-expand-lg{
    
    background-color: #7c7c7c;
}

.nombre{
    color: white;
}

.imagen-navbar{
    width: 120px;
}

.texto-navbar .navbar-nav .nav-link.active[href="#"] {
    font-family: "Roboto";
    color: white;
}

.img-fluid{
width: 70%;

}

.card-img-top{
    width: 50%;
}

.container_1{
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    font-family: "Roboto";
    
}
.container_experiencia{
    
    font-family: "Roboto";
    margin-top: 1rem;

}
.container_2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Roboto";
    margin-top: 1rem;
}


.card-text{
color: #7c7c7c;
font-family: "Roboto";
text-align: justify;
}

.card-text-2{
    color: #7c7c7c;
    font-family: "Roboto";
    text-decoration: underline;
    font-weight: bold;
    text-align: justify;
    }
    


.sobremi{
    font-family: "Roboto";
    font-weight:900;
    text-align: center;
}

.card-footer{
    background-color: transparent;
}

.container-2{
    background-color: #28a745;
    font-family: "Roboto";
    font-weight:normal;
    color: white;
    width: 1280px;
    max-width: 100%;
}


.btn.btn-primary{
background: #F8F9FA;
border-color:#F8F9FA;
color: black;
font-family: "Roboto";
font-size: light;

}

.card-group {
    
    align-items: center;
}

.card-img-top{
    margin-top: 1rem;
}